body {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	margin-bottom: 2%;
}

div {
	width: 10px;
	height: 10px;
	display: inline-block;
}
.green {
	background-color: #4be53d;
}

.black {
	background-color: black;
}

.table:hover {
	stroke: #f0b940 !important;
	  stroke-width:2px;
	  stroke-linejoin: round;
	  fill: #f0b940 !important;
	  cursor: pointer;
}

.message {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 25%;
	height: 10%;
	background-color: white;
	border-style: solid;
	border-color: blue;
}

.message p {
	margin-left: 2%;
	margin-right: 2%;
}

.reserved {
	stroke: black !important;
	  stroke-width:2px;
	  stroke-linejoin: round;
	  fill: black !important;
}

#reservation {
	display: none;
	text-align: center;
}

#manage{
	float: right;
}

table{
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

form{
	margin-top: 2%;
}